
backend-southern-exposure/esp8266_program/esp8266_program.ino
backend-southern-exposure/.ipynb_checkpoints/jupyter notebook to access database-checkpoint.ipynb
backend-southern-exposure/jupyter notebook to access database.ipynb
backend-southern-exposure/southern_exposure_database.db
